* {
    box-sizing: border-box;
  }
  
  h3, h3 code {
    font-size: 20px;
  }
  
  .container {
    flex: 1;
  }
  .container:not(:last-child) {
    margin-right: 8px;
  }
  
  .vamp {
    list-style: none;
    padding: 8px;
    color: #222;
  }
  
  a:link, a:visited, a:hover, a:active { color: lightblue; }