<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4 rounded p-3 mx-3" style="background-color: lightskyblue;">
        <div class="rounded" style="background-color: lightgoldenrodyellow;">
            <app-app-item-selected></app-app-item-selected>
        </div>
    </div>
    <div class="col-md-6 rounded p-3 mx-3" style="background-color: lightskyblue;">
        <div class="row">
            <div class="rounded" style="background-color: lightgoldenrodyellow;">
                <p>bruh</p>
            </div>
        </div>
        <div class="row pt-3">
            <div class="rounded" style="background-color: lightgoldenrodyellow;">
                <app-app-item-holder></app-app-item-holder>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


